/*--Feuille de style Cv */


/*--FONTS--*/
@font-face {
    font-family: "roboto-regular";
    src: url("../assets/fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "DMSans-regular";
    src: url("../assets/fonts/DMSans-Regular.ttf");
}



/*--Général Styles--*/

:root {

    /*--TESTS TOOLS--*/

    --testColor-1: red;
    --testColor-2: blue;

    --testBorder-1: 2px solid red;
    --testBorder-2: 2px solid blue;

    /*GLOBAL COLORS--*/
    --mainColor-Primary: #6E5E73;
    --mainColor-Primary_dark: #4E5369;
    --mainColor-Primary_light: #8A6B76;
    --mainColor-Accent_Color: #2F4858;
    --shadowColor-Primary: #2f48588f;
    --shadowColor-Light: #2f48584b;

    --GlobalBorder-style: 4px solid #2F4858;
    --GlobalBorder-styleLight: 1px solid #2F4858;
    --BlankBorder-style: 0px solid transparent;


    /*--GLOBAL FONTS--*/

    --primaryFont-family: "roboto-regular";
    --secondaryFont-family: "DMSans-regular";

    /*--GLOBAL FONTS-styles-*/
    --basicFont-weight: "normal";
    --basicFont-size: 18px;
    --intermediateFont-size:1.5em;
    --middleFont-size: 2em;
    --bigFont-size: 4em;
    --colorFront-bright: #DFE0DF;
}


/*--reset css--*/
* {
    /*--RESET OUTSIDE & INSIDE SPACING--*/
    margin: 0;
    padding: 0;

    /*--RESET BASIC FONTS--*/
    font-size: var(--basicFont-size);
    font-family: var(--primaryFont-family);
    font-weight: var(--basicFont-weight);



}

/*--Text style settings--*/

/*--Titles--*/
h1 {
    font-size: var(--bigFont-size);
}

h2
 {
    font-size: var(--middleFont-size);
}

h3{

    font-size: var(--basicFont-size);

}


/*--------------------------------------------BODY--------------------------------------------*/

body {


    /*--Outside Spacing--*/
    margin: auto;

    /*--Sizing--*/
    width: 100%;
    display: flex;
    flex-direction: column;

    /*--Colors--*/
    background-color: white;


}

/*--------------------------------------------HEADER--------------------------------------------*/

header {

    /*--Positionning--*/
    position: fixed;
    z-index: 2;

    /*--Display--*/
    display: flex;
    flex-direction: column;

    /*--Sizing--*/
    width: 100%;
    height: 20%;

    /*--Colors--*/
    background-color: var(--mainColor-Primary_dark);

}

/*--header div id : upperHeader--*/

#upperHeader {

    /*--Positionning*/
    /* inherit from header.display:flex & header.flex-direction : column--*/

    /*--Display--*/
    display: flex;
    flex-direction: row;

    /*--Content Align--*/
    justify-content: space-evenly;

    /*--Sizing--*/
    height: 80%;

}

/*--header div img id : logo--*/

/*--logo--*/

#logo {
    /*--Positionning*/

    /*inherit from upperHeader.display:flex & upperHeader.flex-direction :row & upperHeader.justify-content:space-evenly--*/

    /*--Ratio--*/
    max-width: 100%;
    height: auto;
}

/*--header div span id : sitetitle--*/

/*--title--*/

#siteTitle {
    /*--Sizing--*/
    width: 80%;

    /*--Content Align--*/
    text-align: center;

    /*--Outside Spacing--*/
    margin-top: 2%;
    margin-bottom: 2%;

    /*--Text Formating--*/
    color: var(--colorFront-bright)
}


/*  ----NAV BAR----

nav  id :navSection 
nav ul id : navList 
nav ul li class : navItem 
nav ul li ul class : subNavList
nav ul li ul li class :  subNavItem

*/


#navSection {
    /*--Sizing--*/
    width: 100%;
    height: 20%;

    /*--Outside Spacing--*/
    margin: 0 auto;

    /*--Colors--*/
    background-color: transparent !important;
}

#navSection a {
    /*--Positionning--*/
    display: block;

    /*--Inside Spacing--*/
    padding: 10px 0px;



    /*--Text Formating--*/
    text-decoration: none;
    color: var(--colorFront-bright);

    /*--Border Formating--*/
    border-bottom: 2px solid transparent;

}

/*--navSection behaviour on mouse over--*/

#navSection a:hover {

    /*--Text Formating--*/
    color: black;
    ;
    /*-- Border Formating--*/
    border-bottom: 1px solid black;

    /*--Colors--*/
    background-color: var(--mainColor-Primary_light);
}


#navList,
.subNavList {
    /*--Text Formating--*/
    list-style: none;

}


.navItem {
    /*--Positionning--*/
    float: left;

    /*--Sizing--*/
    /*!! add a divider for each item added!!*/
    width: calc(100%/6);

    /*--Outside Spacing--*/
    margin-top: 0%;
    margin-bottom: 0%;

    /*--Colors--*/
    background-color: var(--mainColor-Accent_Color);

    /*--Text Formating--*/
    text-align: center;

}



/*--
    Imported Code :
    source :https://www.pierre-giraud.com/html-css-apprendre-coder-cours/creation-menu-horizontal-sticky/

    "Comme on applique un float : left à tous nos éléments de liste,
     nous allons également utiliser le clearfix avec le pseudo-élément ::after
     que nous allons appliquer à la liste en soi pour éviter que sa hauteur ne soit nulle."
    
    --*/
#navList::after {

    content: "";
    display: table;
    clear: both;
}

/*--SubMenu Behaviour--*/

.subNavList {
    /*--Display--*/
    /*--Sub Menu is hidden--*/
    display: none;

}

nav>ul li:hover .subNavList {
    /*--Display--*/
    /*--Sub menu developps--*/
    display: block;
}

/*--------------------------------------------MAIN--------------------------------------------*/

main {
    /*--Positionning--*/
    position: fixed !important;

    /*--Outside Spacing--*/
    margin-top: 11%;

    /*-- Overlap element--*/
    z-index: 0;

    /*--Sizing--*/
    width: 100%;
    height: 70%;

    /*--Display- Scroll-*/
    overflow-x: scroll;
    overflow-x: hidden;

    /*--Colors--*/
    background-color: white;
    border-radius: 16px;

}

/*--Main Scroll Hidden--*/

main::-webkit-scrollbar {
    display: none;

}

/*--Mainsections--*/

.mainSection {
    /*--Outside Spacing--*/
    margin-left: auto;
    margin-right: auto;

    /*--Sizing--*/
    width: 100%;
    height: 100%;


    /*--Display- Scroll-*/
    overflow-x: hidden;
    overflow-y: scroll;

    /*--Colors--*/
    background-color: transparent;

}

/*--MainSection Scroll Hidden--*/

.mainSection::-webkit-scrollbar {

    display: none;
}

/*--subMainSection--*/

.subMainSection {

    /*--Display--*/
    display: flex;
    flex-direction: row;

    /*--Content Align--*/
    justify-content: space-evenly;

    /*--Size--*/
    width: 99%;
    height: 100%;

    /*--Outside Spacing--*/
    margin-left: auto;
    margin-right: auto;

    /*--Colors--*/
    background-color: transparent;
}

/*--text Area illustrationArea--*/

.textArea,
.illustrationArea {

    /*--Outside Spacing--*/
    margin: 0.2em;


    /*--Border Formating--*/
    border-radius: 14px;


}

.textArea {
    
    /*--Display--*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*--Text Formating--*/
    font-family: var(--secondaryFont-family);
    /*--Inside Spacing--*/
    padding: 2em;
}

.textArea h3 {
    /*--Outside Spacing--*/
    margin-bottom: 2em;
    font-size: var(--intermediateFont-size);

}

.textArea p {
    font-size: 1.5em;
    margin: 0;
    padding: 0.5em 0em 0.5em  1em;
   

}

.subMainSection .textArea p{

    font-size: 1em;;
}

.subMainSection .textArea h3 {
    font-size: 1.5em;
 

}

/*--MainSection Presentation--*/
#presentation{
    height:90%;
    border: var(--GlobalBorder-styleLight);
    border-radius: 14px;
    margin-top: 1em;
    
    margin-left: auto;
    margin-right: auto;
   
}

#presText {

    margin-top: 4em;

    width: 80%;
    height: 60%;
    color: var(--mainColor-Accent_Color);
    
}
#presText #introPres{
    
    font-family: var(--secondaryFont-family);
    font-size: var(--intermediateFont-size);
    margin-top: 1em ;
    margin-left: 3em;
    
}

#presText .contentPres{

    font-family: var(--secondaryFont-family);
    font-size: var(--basicFont-size);
    margin-top: 1em ;
    margin-left: 5em;
}




    

 

/*--MainSection Competences--*/
/*--Compétences menu--*/

#competences{

    /*--Display--*/
    display: flex;
    flex-direction: column;
    
}

.compRow{

    /*--Display--*/
    display: flex;
    justify-content: space-around;
    align-items: center;

    /*--Sizing--*/
    width: 100%;
    height:calc(100%/3);

    /*--Border Formating--*/
    border: none !important;

}



.fullCell, .blankCell{

    /*--Sizing--*/
    width: calc(100%/3);
    height: 4em;

    /*--Outside Spacing--*/
    margin: 8em;

}

.fullCell{

    /*--Display--*/
    display:flex;
    justify-content:center;
    align-items:center;

    /*--Sizing--*/
    width: 100%;

    /*--Outside Spacing--*/
    margin: 0;
   
    
}


.fullCell a{

    /*--Display--*/
    display:flex;
    justify-content:center;
    align-items:center;

    /*--Sizing--*/
    width: 50%;
    height: 3em;

    /*--Text Formating--*/
    text-align: center;
    text-decoration: none;
    color: var(--mainColor-Primary_dark);
    font-size: var(--intermediateFont-size);

    /*--Border Formating--*/
    border-radius: 14px !important;
    
}

.fullCell a:hover{

    color: var(--colorFront-bright);
    background-color: var(--mainColor-Primary);
}

#titleCell{

    /*--Sizing--*/
    width: 50%;
    height: 6em;

    border-radius: 14px;
    color: var(--colorFront-bright);
    background-color: var(--mainColor-Primary_dark);
}

.blankCell{

    border: none;
    background-color: transparent !important;
}





/*--MainSection Parcours--*/

/*--Table--*/

#chronologie {
    margin: 0.2em;
    width: 98%;
    height: 95%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    /*--Colors--*/
    background-color: transparent !important;
    /*--Border Formating--*/
    border: var(--GlobalBorder-styleLight);
    border-radius: 14px;
}

table {

    table-layout: fixed;

    width: 100%;
    height: 90%;

    border-collapse: collapse;

}


thead th {

    background-color: var(--shadowColor-Primary);
    text-align: center;
    font-size: 1.5em;

}

thead th:nth-child(1) {


    width: 20%;


}

thead th:nth-child(2) {
    width: 40%;
}

thead th:nth-child(3) {

    width: 40%;
}



th,
td {
    text-align: left;
    padding-left: 10px;
}

.tableRow:hover td {

    background-color: var(--mainColor-Primary_light);
    color: var(--colorFront-bright);

}



/*--------------------------------------------FOOTER--------------------------------------------*/

footer {
    position: fixed;
    width: 100%;
    bottom: 0%;
    height: 8%;
    color: var(--colorFront-bright);
    background-color: var(--mainColor-Primary_dark);
}

.footerSection{

    margin-left: 5em;
}