/*--Feuille de style Cv */

* {
    margin: 0;
    padding: 0;

}
/*--Général Styles--*/
:root{

    /*GLOBAL COLORS--*/

    --mainColor-Primary :#8BC34A ;
    --mainColor-Primary_dark :#689F38 ;
    --mainColor-Primary_light :#DCEDC8 ;
}


/*--BODY--*/

body {

/*--Centering--*/
    margin: auto;

/*--Sizing--*/
    width: 98%;
    display: flex;
    flex-direction: column;

    background-color: var(--mainColor-Primary_light);


}

/*--HEADER--*/

header {

    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 15%;
    background-color: var(--mainColor-Primary_dark);

}
/*--upperHeader--*/

#upperHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

/*--logo--*/



#logo {
    max-width: 6%;
    height: auto;
}

/*--title--*/

#siteTitle {
    width: 80%;
    text-align: center;
   justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

#navList {
    display: flex;
    flex-direction: row; 
    list-style: none;

}

/*--MAIN--*/

main {
    position: fixed !important;
    margin-top: 10%;
    width: 98%;
    height: 70%;
    border: 2px solid black;

    background-color: var(--mainColor-Primary_dark);

    overflow-x: scroll;
    overflow-x: hidden;
}

/*--Main Scroll behaviour--*/

main::-webkit-scrollbar{
    display: none;;
}

/*--Mainsections--*/

.mainSection {
    margin-left: auto;
    margin-right: auto;
    width: 98%;
    height: 100%;
    overflow-x: scroll;
    border: 2px solid black;

    background-color: var(--mainColor-Primary);

    overflow-x: hidden;
    overflow-y: scroll;
}

/*--MainSection scroillbar behaviour--*/

.mainSection::-webkit-scrollbar{

    display: none;
}

/*--subMainSection--*/

.subMainSection {
    width: 98%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid blue;
    background-color: var(--mainColor-Primary_dark);
}

/*--FOOTER--*/

footer {
    position: fixed;
    bottom: 2%;
    height: 5%;
}